@using squittal.ScrimPlanetmans.Models;

@if (CaptureCount == 1)
{
    <div class="capture-flag-container @SqCssHelper.GetFactionClassFromId(FactionId) team@(TeamOrdinal)">
        <span class="iconify capture-flag" data-icon="ion:flag" data-inline="false"></span>
    </div>
}
else if (CaptureCount == 2)
{
    <div class="capture-flag-container @SqCssHelper.GetFactionClassFromId(FactionId) team@(TeamOrdinal)">
        <span class="iconify capture-flag stacked" data-icon="ion:flag" data-inline="false"></span><span class="iconify capture-flag" data-icon="ion:flag" data-inline="false"></span>
    </div>
}
else if (CaptureCount >= 3)
{
    <div class="capture-flag-container @SqCssHelper.GetFactionClassFromId(FactionId) team@(TeamOrdinal)">
        <span class="iconify capture-flag" data-icon="ion:flag" data-inline="false"></span><span class="capture-flag-label">x@CaptureCount</span>
    </div>
}
else
{
    <div class="capture-flag-container"></div>
}

@code {
    [Parameter]
    public int CaptureCount { get; set; }

    [Parameter]
    public int? FactionId { get; set; }

    [Parameter]
    public int TeamOrdinal { get; set; }
}