@using System.Threading;
@using squittal.ScrimPlanetmans.App.Services;

@implements IDisposable

@inject TimeZoneService TZService

<div class="header-clock">@_localClockString (Local) &nbsp;|&nbsp; @_utcClockString (UTC)</div>

@code {
    private Timer _timer;
    private string _localClockString = string.Empty;
    private string _utcClockString = string.Empty;

    protected override void OnInitialized()
    {
        UpdateClock();

        _timer = new Timer(_ => UpdateClock(), null, 0, 1000);
    }

    private void UpdateClock()
    {
        _localClockString = $"{TZService.LocalNow:MMM d, HH:mm:ss}";
        _utcClockString = $"{DateTime.UtcNow:MMM d, HH:mm:ss}";

        InvokeAsync(StateHasChanged);
    }

    public void Dispose() => _timer.Dispose();
}
