@using System.Threading;
@using squittal.ScrimPlanetmans.App.Services;
@using squittal.ScrimPlanetmans.App.Pages.Shared;

@implements IDisposable

@inject TimeZoneService TZService

<div class="header-clock">
    <LocalDate Date="DateTimeOffset.UtcNow" Format="MMM d, HH:mm:ss zzz" />
    &nbsp;|&nbsp;
    @DateTimeOffset.UtcNow.ToString("MMM d, HH:mm:ss") UTC
</div>

@code {
    private Timer _timer;

    protected override async Task OnInitializedAsync()
    {
        await InvokeAsync(StateHasChanged);

        _timer = new Timer(async _ => await InvokeAsync(StateHasChanged), null, 0, 1000);
    }

    public void Dispose() => _timer.Dispose();
}
